.MenuCategory-boardHeader {
    text-transform: uppercase;
    font-family: 'Francois One', sans-serif;
    letter-spacing: 3px;
    display: inline;
    position: relative;
    padding-bottom: .25rem;
}

.MenuCategory-boardHeaderNote {
    font-style: italic;
}

.MenuCategory-boardHeader::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: var(--highlight-color);
    bottom: 0;
    left: 0;
    width: 100%;
}

.MenuCategory-boardHeaderNote {
    font-family: 'Monserrat', sans-serif;
    color: var(--secondary-color2);
    margin-top: .5rem;
    font-size: .75rem;
}

.MenuCategory-itemList {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.MenuCategory-toTopBtn {
    margin: 0 .5rem;
    font-size: 1.15rem;
    cursor: pointer;
}
