.MenuItem {
    padding: .5rem 0rem;
    transition: 200ms ease-in;
}

.MenuItem:first-of-type {
    padding-top: 0rem;
}

.MenuItem:last-of-type {
    padding-bottom: 1rem;
}

.MenuItem:hover {
    cursor: pointer;
}

@media screen and (min-width: 1025px){
.MenuItem:hover {
    cursor: pointer;
    padding: 1rem 1rem;
    box-shadow: 5px 3px 10px #2f2f2fa1;
    border-radius: 25px;
    }
}

.MenuItem--new {
    display: block;
    color: var(--highlight-color);
    font-weight: 500;
    margin-right: .25rem;
    letter-spacing: 1px;
    transform-origin: center;
    transform: rotate(-10deg);
    font-size: 1.1rem;
    text-decoration: underline;
    font-family: var(--main-font);
}

.MenuItem-itemNameAndPriceFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MenuItem-itemName {
    font-family: var(--main-font);
    font-size: 1.7rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.MenuItem-itemDesc {
    font-family: var(--serif-font);
    font-weight: 700;
    margin-top: .15rem;
    font-size: 1rem;
    max-width: 85%;
    margin-right: .5rem;
}

.MenuItem-itemPrice {
    background: rgba(206, 35, 64, 0.774);
    box-shadow: 0 4px 4px 0 rgba(255, 59, 59, 0.37);
    backdrop-filter: blur( 2.0px );
    -webkit-backdrop-filter: blur( 2.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-size: .85rem;
    color: var(--main-color);
    padding: .5rem;
    letter-spacing: 1px;
    border-radius: 25px;
    font-weight: 600;
}

.MenuItem-itemOptionList {
    display: flex;
    margin-top: .25rem;
}

.MenuItem-itemOption {
    font-family: var(--serif-font);
    font-size: .75rem;
    margin-right: .5rem;
    font-style: italic;
}