.MenuCategoryBtns {
    white-space: nowrap;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    margin-bottom: 2rem;
    font-size: 1rem;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.MenuCategoryBtns::-webkit-scrollbar {
    display: none;
}

.MenuCategoryBtns-btn {
    position: relative;
    display: inline-block;
    padding: .5rem .75rem;
    white-space: nowrap;
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    color: #2f2f2fa1;
    transition: 300ms ease;
}

.MenuCategoryBtns-btn:hover {
    color: var(--main-color) !important;
    background-color: var(--secondary-color2);
    border-radius: 25px;
}

.MenuCategoryBtns-btn::after {
    position: absolute;
    content: "";
    border-radius: 25px;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 105%;
    background-color: #2f2f2fa1;
    transition: background-color 500ms ease;
}

.MenuCategoryBtns-btn:hover {
    position: relative;
}

.MenuCategoryBtns-btn:hover::after {
    position: absolute;
    content: "";
    height: 3px;
    background-color: var(--secondary-color2);
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Active category btn will have class 'MenuCategoryBtns-activeCategory' -- currently has no styles as screen scrolls anyway
If adding sticky functionality to 'MenuCategoryBtns', active class styles will be necessary */