.Footer {
    text-align: center;
    position: relative;
    z-index: 10;
    color: var(--secondary-color);
    background-color: var(--main-color);
    padding-bottom: 3rem;
}

.Footer-hr {
    width: 33%;
    max-width: 200px;
    height: 1px;
    /* background-color: var(--secondary-color); */
    background-image: linear-gradient(to right, 
    rgba(247, 247, 247, 0), 
    rgba(247, 247, 247, 1), 
    rgba(247, 247, 247, 0));
    margin: 1.5rem auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.Footer-hrAccent {
    width: 10%;
    height: .5px;
    background-color: var(--secondary-color-fade);
    transform: rotate(-35deg);
}

.Footer-social {
    margin: 1.5rem 0;
}

.Footer-social a i {
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin: .5rem .3rem .5rem .3rem;
}

.Footer-info {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 750px){
    .Footer-info {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.Footer-infoSection {
    margin: .5rem 2rem;
}

.Footer-infoSection h3 {
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    letter-spacing: .125rem;
    font-size: 1rem;
}

.Footer-infoSection p, 
.Footer-infoSection a { 
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    color: var(--secondary-color);
}
.Footer-callBtn {
    height: 2rem;
    position: fixed;
    bottom: 0;
    opacity: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: var(--highlight-color);
    backdrop-filter: blur( 15.0px );
    -webkit-backdrop-filter: blur( 15.0px );
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 100;
    transition: 300ms ease-in;
}

.Footer-callBtn--unhide {
    opacity: .85;
}

.Footer-callBtn a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer-callBtn i {
    color: var(--main-color);
    margin-right: .5rem;
    font-size: 1.25rem;
}

.Footer-callBtn p {
    color: var(--main-color);
    line-height: 2rem;
    font-weight: 300;
    margin-bottom: .1rem;
}
.Footer-callBtn p span {
    font-weight: 500;
}

.Footer-message {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .7rem;
    font-weight: 500;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
}

.Footer-message p span {
    text-decoration: underline;
}
.Footer-message a {
    text-decoration: none;
    color: var(--secondary-color);
}