.Footer {
    text-align: center;
    position: relative;
    z-index: 10;
    color: var(--secondary-color);
    background-color: var(--main-color);
    padding-bottom: 3rem;
}

.Footer-hr {
    width: 33%;
    max-width: 200px;
    height: 1px;
    /* background-color: var(--secondary-color); */
    background-image: linear-gradient(to right, 
    rgba(247, 247, 247, 0), 
    rgba(247, 247, 247, 1), 
    rgba(247, 247, 247, 0));
    margin: 1.5rem auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.Footer-hrAccent {
    width: 10%;
    height: .5px;
    background-color: var(--secondary-color-fade);
    transform: rotate(-35deg);
}

.Footer-social {
    margin: 1.5rem 0;
}

.Footer-social a i {
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin: .5rem .3rem .5rem .3rem;
}

.Footer-info {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 750px){
    .Footer-info {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.Footer-infoSection {
    direction: rtl;
    margin: .5rem 2rem;
}

.Footer-infoSection h3 {
    color: var(--secondary-color);
    font-family: var(--main-font);
    font-weight: 500;
    letter-spacing: .3rem;
    font-size: 1.8rem;
    margin-bottom: .5rem;
}

.Footer-infoSection p, 
.Footer-infoSection a { 
    font-weight: 400;
    font-family: var(--serif-font);
    font-size: 1.1rem;
    color: var(--secondary-color2);
}

.Footer-message {
    letter-spacing: 1px;
    font-size: .8rem;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
}

.Footer-message p {
    font-family: var(--main-font);
    font-weight: 300;
}
.Footer-message a {
    text-decoration: none;
    color: var(--secondary-color);
}