.ResponsiveGalleryImg-footer {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    border-radius: 25px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, 
        rgba(247,247,247,0) 0%, 
        rgba(247,247,247,0.35896365382090334) 65%,
        rgba(247,247,247,.75) 100%);
    opacity: 0;
    transform: translateY(100%);
    transition: 500ms ease;
    transition-delay: 1s;
}

.ResponsiveGalleryImg:hover + .ResponsiveGalleryImg-footer,
.ResponsiveGalleryImg-footer:hover {
    opacity: 1;
    transform: translateY(0);
    transition: 500ms ease;
}

.ResponsiveGalleryImg-footer i {
    margin: 1.5rem .5rem 0rem .5rem;
    color: var(--main-color);
    font-size: 1.25rem;
    transition: 350ms linear;
}

.ResponsiveGalleryImg-footer i:last-of-type {
    margin-right: .75rem;
}

.ResponsiveGalleryImg-footer i:hover {
    opacity: .65;
}

.ResponsiveGalleryImg-shareBtn {
    position: relative;
}

.ResponsiveGalleryImg-shareBtn.clicked {
    color: green;
    opacity: 1 !important;
}

.ResponsiveGalleryImg-shareBtnMsg {
    position: absolute;
    top: calc(-100%);
    left: 50%;
    font-size: .65rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: green;
    color: var(--secondary-color);
    padding: .25rem;
    border-radius: 25px;
    display: inline;
    text-align: center;
    min-width: 100px;
    transform: translate(-50%, -50%) translateY(200%) scale(0);
    opacity: 0;
    transition: 200ms ease;
}

.ResponsiveGalleryImg-shareBtnMsg::after {
    position: absolute;
    content: "";
    bottom: -75%;
    left: 50%;
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid green;
    transform: translate(-50%, -50%);
}

.ResponsiveGalleryImg-shareBtnMsg.clicked {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0%) scale(1);
}

.ResponsiveGalleryImg-dummyInp {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}