.MobileNav {
    color: var(--main-color);
    position: sticky;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    top: 0;
    width: 100%;
    z-index: 30;
}

.MobileNav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem .5rem .75rem .5rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    background-color: var(--main-color);
    /* border-bottom: 1px solid var(--secondary-color); */
}

.MobileNav-brand {
    z-index: 21;
}

.MobileNav-brand h1 {
    font-family: var(--main-font);
    letter-spacing: .3rem;
    color: var(--secondary-color);
    font-size: 2.7rem;
}

.MobileNav-brand p {
    font-family: var(--serif-font);
    font-weight: 600;
    font-size: .8rem;
    letter-spacing: .5px;
    margin-left: .25rem;
    margin-top: -.3rem;
    color: var(--secondary-color);
}

.MobileNav-toggleBtn {
    cursor: pointer;
    z-index: 40;
}

.MobileNav-gripLine {
    width: 2rem;
    background-color: var(--secondary-color);
    height: 5px;
    border-radius: 5rem;
    margin: .45rem 0rem;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

.MobileNav-gripLine:first-of-type {
    width: 60%;

}

.MobileNav-gripLine:nth-of-type(2) {
    width: 80%;
    transform-origin: 0% 100%;
}

.MobileNav-gripLine:first-of-type.open {
    width: 100%;
    transform: rotate(50deg) translate(.5rem)
}

.MobileNav-gripLine:nth-of-type(2).open {
    width: 100%;
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
.MobileNav-gripLine:nth-of-type(3).open {
    transform: rotate(-45deg) translate(0, -1px);
}

.MobileNav-address {
    font-size: .8rem;
    text-align: center;
    font-family: var(--serif-font);
    font-weight: 700;
    letter-spacing: 1.5px;
    width: 100%;
    opacity: .8;
    border-radius: 25px;
    background-color: var(--highlight-color);
    color: var(--main-color);
    padding: 1.25rem .5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 500ms ease;
}

.MobileNav-address--hidden {
    top: 30%;
    z-index: -1;
}

.MobileNav-addressHeader {
    margin-top: 1rem;
}

/* LINK STYLES */
.MobileNav-link {
    font-family: 'Francois One', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    margin: .75rem 0;
    transition: 300ms ease;
}

.MobileNav-link--active a {
    opacity: .1;
    cursor: default;
}

.MobileNav-link:last-of-type {
    border: 1px solid var(--secondary-color-fade-more);
    background-color: var(--highlight-color);
    padding-left: .75rem;
    padding-right: .75rem;
}

.MobileNav-link:last-of-type a {
    color: var(--main-color) !important;
    text-shadow: 2px 1px var(--secondary-color);
}